---
layout: layouts/base.njk
permalink: /
---

<div class="px-1 my-6 text-center border-bottom">
    <h1 class="display-6 fw-bold text-body-emphasis">Bienvenue sur le blog de l'AAPPMA de Gresse-en-Vercors</h1>
    <div class="col-lg-10 mx-auto">
      <p class="lead mb-4">Le territoire de l'AAPPMA couvre les cours d'eau de la commune de Gresse-en-Vercors, qui est
         située à la fois dans le Vercors et dans le Trièves. Les sites de pêche sont alors localisés dans un environnement 
         riche aux panoramas époustouflants, où vous pourrez aisément pêcher la fameuse truite Fario. L'Association est non 
         réciprocitaire avec la fédération de l'Isère, ce qui signifie que votre carte de pêche vous permet uniquement de pêcher 
         sur le territoire de l'association. Ceci permet une gestion autonome et personnalisée des cours d'eau ainsi que de la pratique
          de la pêche. Enfin, l'AAPPMA dispose d'un règlement spécifique. Contactez-nous pour plus d'informations.Bonne visite et à bientôt au bord de nos ruisseaux et rivières !</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{{ contact.url | url }}"><button type="button" class="btn btn-success btn-lg px-4 me-sm-3">Nous contacter</button></a>
        <a href="#articles"><button type="button" class="btn btn-outline-success btn-lg px-4">Consulter les articles</button></a>
      </div>
    </div>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img src="/images/uploads/4.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        <img src="/images/uploads/gev3.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        <img src="/images/uploads/fish1.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>



 